/**
 * RESET
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    background-color: #eaeaea;
    font-family: 'Chubbo-Variable', sans-serif;
    color: #15130f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
}

.highlight {
    color: #f9b81a;
}

/**
 * Animation
 */
@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }

}

@keyframes reverse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/**
 * Styling
 */
.container {
    width: 390px;
    height: 844px;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

/**
 * Section: Hero
 */
section.hero {
    padding: 70px 24px;
    color: #ffffff;
    background: url("../img/bg.png");
}

section.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

section.hero .header svg {
    position: absolute;
    top: 18px;
    left: -10px;
    right: 10px;
}

section.hero .header ul li {
    display: inline-block;
    margin-left: 24px;
}

section.hero .header ul li a {
    color: #ffffff;
    font-size: 20px;
}

section.hero .cta {
    padding-top: 80px;
    padding-bottom: 105px;
}

section.hero .cta h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 40px;
}

section.hero .cta a {
    display: block;
    padding: 18px 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: #15130f;
    border: solid 2px #15130f;
    border-radius: 8px;
    background-color: aliceblue;
}

section.hero .guide {
    margin-bottom: 0;
    color: #f9b81a;
}

section.hero .guide p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

section.hero .guide p span {
    display: inline-block;
    margin-left: 8px;
}

section.hero .guide p span svg {
    color: #f9b81a;
}

section.hero article.case-study {
    display: block;
    padding-top: 20px;
    margin-bottom: 35px;
    margin-right: -24px;
    z-index: 1000;
    overflow: hidden;
}

section.hero article.case-study .case-img {
    display: block;
    position: relative;
    padding-top: 30px;
}

section.hero article.case-study .case-img img {
    opacity: 1;
    display: block;
    object-fit: cover;
    max-height: 100%;
    margin-left: 0;
    margin-right: -24px;
    max-width: 390px;
    width: 390px;
}


section.hero article.case-study .case-img img.main {
    border-radius: 100% 0% 26% 74% / 80% 100% 0% 20%;
    animation-name: zoom;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

section.hero article.case-study .case-img:hover img.main {
    opacity: 0;
    animation-name: reverse;
}

section.hero article.case-study .case-img img.overlay {
    position: absolute;
    top: 50%;
    padding-top: 0;
    padding-bottom: 0;
    bottom: 50%;
    width: 100%;
    height: 150%;
    opacity: 0; /* DEBUG: must be opacity: 0 */
    transform: translateY(-50%) ;
    /*transition: opacity 0.25s ease-in-out, height 0.5s ease-in-out;*/

    transition-timing-function: cubic-bezier(0.25, 0.1, 0, 2.0);
    transition-duration: 0.75s;
    transition-property: opacity, padding-top, padding-bottom;
    transition-delay: 0s, 0.2s, 0.2s;

}

section.hero article.case-study .case-img:hover img.overlay {
    opacity: 1;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 25px;
    transform: translateY(-50%) ;
}

section.hero article.case-study .case-animation {

}

section.hero article.case-study  .case-title {
    margin-top: 0;
}

section.hero article.case-study  .case-title h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

section.hero article.case-study  .case-description {
    padding-right: 24px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 50px;
}

section.hero article.case-study  .case-button {
    margin-top: 35px;
    margin-bottom: 10px;
    padding-right: 24px;
}

section.hero article.case-study  .case-button a {
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 18px 24px;

    color: #f9b81a;
    border: solid 3px #f9b81a;;
    border-radius: 16px;
    vertical-align: middle;
}

section.hero article.case-study  .case-button a span {
    margin-left: 10px;
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
}

/**
 * Section: Brand
 */
section.brand {
    padding: 50px 24px;
    background-color: #ffffff;
}

section.brand header {
    padding-bottom: 24px;

    text-align: center;
    border-bottom: solid 3px #f9b81a;
}

section.brand header h2 {
    font-size: 40px;
    font-weight: bold;
}

section.brand header p {

}

section.brand .list {

}

section.brand .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section.brand .list ul li {
    flex: 50%;
    margin-bottom: 15px;
    padding: 25px
}

section.brand .list ul li img {

}

/**
 * Section: Contact
 */

section.contact {
    background-color: #f9b81a;
    color: #15130f;
    padding: 80px 24px;
}

section.contact header {
    margin-bottom: 24px;
}

section.contact header h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

section.contact header p {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


section.contact .body {
    margin-bottom: 24px;
}

section.contact .body ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section.contact .body ul li {
    width: 50px;
    height: 50px;
    /*margin-left: -15px;*/
    margin-right: -21px;
}

section.contact .action {
    display: block;
    margin-top: 40px
}

section.contact .action a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #15130f;
    padding: 5px 20px;
    font-weight: bold;
    border: solid 2px #15130f;
    border-radius: 16px;
}

section.contact .action a span.icon-right-arrow {
    font-size: 32px;
    font-weight: bold;
}
/**
 * Footer
 */
footer.footer {
    padding: 56px 24px;
    background-color: #15130f;
    color: white;
}

footer.footer .branding {
    display: flex;
    margin-bottom: 24px;
}

footer.footer .branding img {
    margin-right: 25px;
}

footer.footer .info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


footer.footer .info h4 {
    font-size: 24px;
    color: #f9b81a;
    font-weight: normal;
    padding-bottom: 20px;
    margin-bottom: 24px;

    border-bottom: solid 1px #f9b81a;
}

footer.footer .info .contact {
    font-size: 16px;
}

footer.footer .info .contact .address {
    margin-bottom: 10px;
}

footer.footer .info .contact .address span {
    display: block;
}

footer.footer .info .contact .email {
    margin-bottom: 10px;
}

footer.footer .info .contact .phone {
    margin-bottom: 10px;
}

/*
 * Credit
 */
.credit {
    margin-top: 15px;
}

.credit .author {
    padding-bottom: 2px;
    color: #f9b81a;
    border-bottom: solid 1px #f9b81a;
}

.credit .heart {
    color: tomato;
}